<ion-view title="About">
  <ion-nav-buttons>
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <div class="h1 title"></div>
    <a class="button button-icon icon ion-home" href="#/app/principal"></a>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="list card">
        <div class="item item-avatar">
            <h1><b>Developers</b></h1>
        </div>
        <div class="item item-thumbnail-left">
            <img src="img/arango.jpg">
            <h2><b>Edison Ruben Arango</b></h2>
            <p>Ing. Sistemas</p>
            <p>edi-arango@hotmail.com</p>
        </div>
        <div class="item item-thumbnail-left">
            <img src="img/castro.jpg">
            <h2><b>Juan Sebastian Castro</b></h2>
            <p>Ing. Sistemas</p>
            <p>juanseca_94@hotmail.com</p>
        </div>
<!--        <div class="item item-image">
            <img src="../img/ionic.png"> 
        </div>
        <a class="item item-icon-left assertive" href="#">
            <i class="icon ion-music-note"></i>
            Start listening
        </a>-->
    </div>
  </ion-content>
</ion-view>
