<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>PredFinance</title>
                <link href="../lib/ionic/css/ionic.css" rel="stylesheet">
                <link href="../css/style.css" rel="stylesheet">
                <script type="text/javascript" src="../js/jquery.min.js"></script>
                <script type="text/javascript" src="../js/higchart.js"></script>
                <script src="../js/Aplicacion.js"></script>
                <script id="script"></script>
                
                <script src="../highcharts/highcharts.js"></script>
                <!--<script src="../highcharts/adapters/standalone-framework.js"></script>-->
                <script src="../highcharts/modules/exporting.js"></script>
                <script src="../highcharts/themes/dark-unica.js"></script>
                
                <script>
                    var sigla=TomaVariables('sigla');
                    var empresa=TomaVariables('nombre');
                </script>
        

	</head>


        <body onload="cargarDatosFinance(sigla,empresa);" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" rightmargin="0">
            <div id="grafica" style="height: 230px"></div>
<!--            <div class="block">
                <a href="#" onclick="cargarDatosFinance()" class="button button-dark">Cargar datos de Yahoo Finance</a>
            <select>
                <option>Blue</option>
                <option selected>Green</option>
                <option>Red</option>
            </select>
            </div>-->
        </body>

</html>

