<ion-view title="Instrucciones">
<!--        <ion-nav-buttons side="left">
          <button class="button button-positive button-clear no-animation"
                  ng-click="startApp()" ng-if="!slideIndex">
            Skip Intro
          </button>
          <button class="button button-positive button-clear no-animation"
                  ng-click="previous()" ng-if="slideIndex > 0">
            Previous Slide
          </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right"> 
          <button class="button button-positive button-clear no-animation"
                  ng-click="next()" ng-if="slideIndex != 2">
            Next
          </button>
          <button class="button button-positive button-clear no-animation"
                  ng-click="startApp()" ng-if="slideIndex == 2">
            Start using MyApp
          </button>
        </ion-nav-buttons>-->
        <ion-nav-buttons> 
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            <div class="h1 title"></div>
            <a class="button button-icon icon ion-home" href="#" ng-click="irAPag('app.principal')"></a>
        </ion-nav-buttons>
        <ion-slide-box on-slide-changed="slideChanged($index)">
          <ion-slide>
            <h3>Thank you for Choosing our App!</h3>
            <div id="logo">
              <img src="img/Principal.png" style="height: 340px;width: 210px">
            </div>
            <p>
              You will find Updated Information on the Quotes of your Favorite Company
            </p>
          </ion-slide>
          <ion-slide>
            <h3>Graph Movements</h3>
            <div id="logo">
              <img src="img/VerGrafica.png" style="height: 340px;width: 210px">
            </div>
            <p>
              To View the Graph you Should Press the Button
            </p>
          </ion-slide>
          <ion-slide>
            <div class="item item-avatar item-button-left">
                    <h2 style="margin-top: 10px">Recharge for Real-Time Data</h2>
                    <button class="button button-dark" style="margin-top: 10px"><i class="icon ion-refresh"></i></button>
                    <!--<img src="img/irMenu.png">-->
            </div><br>   
            <h3>The Network Connection is Lost</h3>
            <div id="logo">
              <img src="img/Alert.png" style="height: 110px;width: 180px">
            </div>
            <p>
                You Can Press Retry to Verify the Connection Again or Cancel to Exit
            </p><br><br>
            <div class="item item-avatar item-button-left">
                    <h2 style="margin-top: 10px">Press to View the Menu Options</h2>
                    <button class="button button-dark" style="margin-top: 10px"><i class="icon ion-navicon-round"></i></button>
                    <!--<img src="img/irMenu.png">-->
            </div>
          </ion-slide>
          <ion-slide>
            <h3>Select the One you Want</h3>
            <div id="logo">
              <img src="img/Menu.png" style="height: 240px;width: 250px">
            </div><br><br>
            <div class="item item-avatar item-button-left">
                    <h2 style="margin-top: 10px">Click the Icon to Go to Home Page</h2>
                    <button class="button button-dark" style="margin-top: 10px"><i class="icon ion-home"></i></button>
                    <!--<img src="img/irMenu.png">-->
            </div>
          </ion-slide>
          <ion-slide>
              <br><br>
            <h3>¿Want More? Login!</h3>
            <div id="logo">
              <img src="img/Login.png" style="height: 190px;width: 240px">
            </div>
            <p>
              You can also Enter the User to have     Additional Options
            </p>
          </ion-slide>
          <ion-slide>
            <h3>¿You Need Help with your Investment?</h3>
            <div id="logo">
              <img src="img/Prediction.png" style="height: 340px;width: 210px">
            </div>
            <p>
              Review the List of Predictions for This Day
            </p>
          </ion-slide>
          <ion-slide>
              <br><br>
            <h3>¿Understand Nothing?</h3>
            <div id="logo">
              <img src="img/Language.png" style="height: 210px;width: 250px">
            </div>
            <p>
              Change the Language of the Application
            </p>
          </ion-slide>
          <ion-slide>
            <h3>Known Developers and Tools</h3>
            <div id="logo">
              <img src="img/About.png" style="height: 340px;width: 210px">
            </div>
            <p>
              If You Want More Information Contact Us
            </p>
          </ion-slide>
        </ion-slide-box>
      </ion-view>