<ion-view title="{{textos.instruction}}">
<!--        <ion-nav-buttons side="left">
          <button class="button button-positive button-clear no-animation"
                  ng-click="startApp()" ng-if="!slideIndex">
            Skip Intro
          </button>
          <button class="button button-positive button-clear no-animation"
                  ng-click="previous()" ng-if="slideIndex > 0">
            Previous Slide
          </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right"> 
          <button class="button button-positive button-clear no-animation"
                  ng-click="next()" ng-if="slideIndex != 2">
            Next
          </button>
          <button class="button button-positive button-clear no-animation"
                  ng-click="startApp()" ng-if="slideIndex == 2">
            Start using MyApp
          </button>
        </ion-nav-buttons>-->
        <ion-nav-buttons> 
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            <div class="h1 title"></div>
            <a class="button button-icon icon ion-home" href="#" ng-click="irAPag('app.principal')"></a>
        </ion-nav-buttons>
        <ion-slide-box on-slide-changed="slideChanged($index)">
          <ion-slide>
            <h3>{{textos.instruction1}}</h3>
            <div id="logo">
              <img src="img/Principal.png" style="height: 340px;width: 210px">
            </div>
            <p>
              {{textos.instruction2}}
            </p>
          </ion-slide>
          <ion-slide>
            <h3>{{textos.instruction3}}</h3>
            <div id="logo">
              <img src="img/VerGrafica.png" style="height: 340px;width: 210px">
            </div>
            <p>
              {{textos.instruction4}}
            </p>
          </ion-slide>
          <ion-slide>
            <div class="item item-avatar item-button-left">
                    <h2 style="margin-top: 10px">{{textos.instruction5}}</h2>
                    <button class="button button-dark" style="margin-top: 10px"><i class="icon ion-refresh"></i></button>
                    <!--<img src="img/irMenu.png">-->
            </div><br>   
            <h3>{{textos.instruction6}}</h3>
            <div id="logo">
              <img src="img/Alert.png" style="height: 110px;width: 180px">
            </div>
            <p>
                {{textos.instruction7}}
            </p><br><br>
            <div class="item item-avatar item-button-left">
                    <h2 style="margin-top: 10px">{{textos.instruction8}}</h2>
                    <button class="button button-dark" style="margin-top: 10px"><i class="icon ion-navicon-round"></i></button>
                    <!--<img src="img/irMenu.png">-->
            </div>
          </ion-slide>
          <ion-slide>
            <h3>{{textos.instruction9}}</h3>
            <div id="logo">
              <img src="img/Menu.png" style="height: 240px;width: 250px">
            </div><br><br>
            <div class="item item-avatar item-button-left">
                    <h2 style="margin-top: 10px">{{textos.instruction10}}</h2>
                    <button class="button button-dark" style="margin-top: 10px"><i class="icon ion-home"></i></button>
                    <!--<img src="img/irMenu.png">-->
            </div>
          </ion-slide>
          <ion-slide>
              <br><br>
            <h3>{{textos.instruction11}}</h3>
            <div id="logo">
              <img src="img/Login.png" style="height: 190px;width: 240px">
            </div>
            <p>
              {{textos.instruction12}}
            </p>
          </ion-slide>
          <ion-slide>
            <h3>{{textos.instruction13}}</h3>
            <div id="logo">
              <img src="img/Prediction.png" style="height: 340px;width: 210px">
            </div>
            <p>
              {{textos.instruction14}}
            </p>
          </ion-slide>
          <ion-slide>
              <br><br>
            <h3>{{textos.instruction15}}</h3>
            <div id="logo">
              <img src="img/Language.png" style="height: 210px;width: 250px">
            </div>
            <p>
              {{textos.instruction16}}
            </p>
          </ion-slide>
          <ion-slide>
            <h3>{{textos.instruction17}}</h3>
            <div id="logo">
              <img src="img/About.png" style="height: 340px;width: 210px">
            </div>
            <p>
              {{textos.instruction18}}
            </p>
          </ion-slide>
        </ion-slide-box>
      </ion-view>