<ion-view title={{textos.language}}>
  <ion-nav-buttons> 
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <div class="h1 title"></div>
    <a class="button button-icon icon ion-home" href="#/app/principal"></a>
  </ion-nav-buttons>
  <ion-content class="has-header">
      <form ng-submit="">
      <div class="list card">
        <ion-radio ng-repeat="item in serverSideList" 
                   ng-value="item.value"
                   ng-model="data.serverSide"
                   ng-change="serverSideChange(item)"
                   name="server-side">
          {{ item.text }}
        </ion-radio>
      </div>
    </form>
  </ion-content>
</ion-view>
