<!DOCTYPE html>
<html ng-app="starter">
  <head> 
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="../lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

     <!--IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above-->
    <link href="css/ionic.app.css" rel="stylesheet">
    

     <!--ionic/angularjs js--> 
    <script src="../lib/ionic/js/ionic.bundle.js"></script>

     <!--cordova script (this will be a 404 during development)--> 
    <script src="../cordova.js"></script>

     <!--your app's js--> 
    <script src="../js/app.js"></script>
    <script src="../js/Aplicacion.js"></script>
    <script src="../js/controllers.js"></script>
    <script id="scriptList"></script>
    
    
<!--    <script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript">
    $.noConflict();
    jQuery( document ).ready(function( $ ) {
    $(document).ready(function() {
    $("#grafico").load('templates/Grafica.html');
    });
});
</script>-->

  </head>

  <body id="body" ng-controller="ListCtrl" ng-init="cargarIdioma();empezarIntervalo();" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" rightmargin="0">
  <ion-content>
      <div class="list">
          <div class="item item-divider">
            {{textos.actions}}
        </div>
          <div ng-repeat="empresa in datosLista | orderBy:'-porcentaje'" class="item item-avatar item-button-right" style="padding-bottom:5px">
      <img class="bajarImagen" src="{{empresa.imagen}}">
      <h2>{{empresa.nombre}} ({{empresa.sigla}})</h2>
      <p>
          <b style="font-size: 1.4em">{{empresa.cotizacion}}&nbsp;&nbsp;</b><b ng-class="{'assertive':empresa.signo=='-','balanced':empresa.signo=='+'}" style="font-size: 0.9em">{{empresa.cambio}}({{empresa.porcentaje}}%)&nbsp;&nbsp;</b><b class="textoLista"> [{{empresa.rango}}]</b> 
      </p>
        <button ng-click="show();actualizarGrafico('{{empresa.sigla}}','{{empresa.nombre}}');" class="button button-dark bajarBoton" style="margin-top:12px">
        <i class="icon ion-arrow-graph-up-right"></i>
        </button>
    </div>
          <div class="item item-divider">
            {{textos.exchange}}
        </div>
      </div>
</ion-content>
  <!--<script src="highcharts/highcharts.js"></script>
  <script src="highcharts/modules/exporting.js"></script>
  <script src="highcharts/themes/dark-unica.js"></script>-->
  
  </body>
  
</html>

