
<ion-view title="Playlists">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
      <div class="bar bodyGraf gradiente">
          <div style="border-right-width: 2px">
              <div style="float: top"><p class="dark">GOOG</p></div>
              <div style="float: bottom"><b style="color: #000;float: left">575.4</b><p class="balanced" style="float: right">+3.14(0.07%)</p></div>
      </div>
      <div>
          <marquee behavior="scroll" direction="left">
              <h4 class="dark" style="margin-top: 10px">Sample text</h4>
        </marquee>
      </div>
      </div>
<!--<div class="button-bar"></div>
    <a href="templates/Grafica.html" class="button icon-left ion-edit button-positive button-outline">Gráfica</a>-->
<!--      <div id="grafica" style="height: 230px"></div>-->
<div class="grafico">
    <iframe  src="templates/grafica.html" frameborder="0"></iframe>
</div>

    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
